<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="methods" >

	<groups>
		<run>
			<include name="Sanity"></include>
			<include name="Regression"></include>
		</run>
	</groups>
		
  <test thread-count="5" name="Test">
    <classes>
      <class name="Tests.Registration"/>
      <class name="Tests.SignINTest"/>
      <class name="Tests.RegistrationModule"/>
       <class name="Tests.Smoke"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
